
body {
    background-color: #f3e5d8;
}

#wrapper {
    background-color: #fff;
    margin: auto;
    width: 375px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    
}

img {
    width: 375px;
    height: auto;
    border-radius: 10px;
}

@media (min-width: 1440px) {
    #wrapper {
        width: 1440px;
    }

    img {
        margin: auto;
        display: block;
        width: 75%;
    }
}